

.state_title{
    text-align: center;
    padding: 5rem .5rem 1rem .5rem;
    color:rgb(245, 245, 245);
    text-shadow: -1px -1px rgb(0, 0, 0);
    font-size: 55px;
    margin-top: 3rem;
}
@media (min-width: 760px){
    .state_list{
        width: 95%;
        margin: auto;
    }
    .state-items{
        display: inline-block;
        width: 250px;
        margin-left: 3.3rem;
    }
    
    .state-btn.back-btn{
        margin-left: 15.5rem;
    }
}
@media (min-width: 1024px){
    .state_list{
        width:100%;
        margin: auto;
    }
    .state-items{
        display: inline-block;
        width: 240px;
        margin: 1.5rem .5rem .5rem 2.7rem;
    }
    
    .state-btn.back-btn{
        margin-left: 39.5rem;
    }
}