.rest-info-edit{
    width: 98%;
    margin: 3rem auto;
    padding: .5rem;
    height: auto; 
}
.restaurant-edit-form{
    border: 1px solid black;
    width: 90%; 
    margin: 2rem auto;  
    background-color: rgba(70, 70, 193, 0.9);
    border-radius: 5%;
    box-shadow: 3px 3px rgba(61, 61, 95, 0.9);
    padding: .5rem;
    text-align: center;
    height: auto;
    letter-spacing: 2px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 2;
    }
.restaurant_field_edit{
    margin: 1rem;
}
   
.form{
        margin: .5rem .1rem;
    }
.back-btn.editForm{
    margin:1rem;
    }
#address_edit, #phone_edit{
        width: 13rem;
        padding-left: 10px;
        font-size: 14px;
}
#comments_edit{
    height: 6rem;
    overflow-wrap: normal;
    width: 13rem;
    padding: 1rem;
    font-size: 14px;
}
@media (min-width: 393px){
    #comments_edit, #address_edit, #phone_edit{
        width: 20rem;
    }

}
@media (min-width: 522px){
    .rest-info-edit{
        width: 90%;
    }
    .restaurant_field_edit{
        width: 95%;
        margin: auto;
    }
    #comments_edit, #address_edit, #phone_edit{
        width: 23rem;
        font-size: 16px;
    }

}
@media (min-width: 650px){
    .rest-info-edit{
        width: 80%;
    }
    .restaurant_field_edit{
        width: 90%;
        margin: auto;
    }
    #comments_edit, #address_edit, #phone_edit{
        margin: 1rem;
        font-size: 16px;
    }

}
@media (min-width: 930px){
    .rest-info-edit{
        width: 70%;
    }
    .restaurant_field_edit{
        width: 80%;
        margin: auto;
    }
    #comments_edit, #address_edit, #phone_edit{
        margin: 1rem;
        width: 29rem;
        font-size: 18px;
    }

}
@media (min-width: 1250px){
    .rest-info-edit{
        width: 70%;
    }
    .restaurant_field_edit{
        width: 80%;
        margin: auto;
    }
    #comments_edit, #address_edit, #phone_edit{
        margin: 1.5rem;
        width: 40rem;
        
    }
    .back-btn.editForm{
        margin:3rem;
        }

}
@media (min-width: 1421px){
    .rest-info-edit{
        width: 60%;
        
        margin:auto;
    }
    .restaurant_field_edit{
        width: 40%;
        display: inline-block;
        margin: 4rem auto;
    }
    .restaurant_field_edit.comments{
        margin-right: 18.3rem;
    }
    .edit_label{
        margin-right: 4.5rem;

    }
    .edit_label_comments{
        margin-right: 17.5rem;
    }
     #address_edit, #phone_edit{
        margin: 1.5rem;
        width: 17rem;
        
    }
    #comments_edit{
        width: 35rem;
    }

}
@media (min-width: 1640px){
    .rest-info-edit{
        width: 50%;
        
        margin:auto;
    }
    .restaurant_field_edit{
        width: 40%;
        display: inline-block;
        margin: 4rem auto;
    }
    .restaurant_field_edit.comments{
        margin-right: 18.3rem;
    }
    .edit_label{
        margin-right: 4.5rem;

    }
    .edit_label_comments{
        margin-right: 17.5rem;
    }
     #address_edit, #phone_edit{
        margin: 1.5rem;
        width: 20rem;
        
    }
    #comments_edit{
        width: 40rem;
    }

}
@media (min-width: 2117px){
    .rest-info-edit{
        width: 40%;
        
        margin:auto;
    }
    .restaurant_field_edit{
        width: 40%;
        display: inline-block;
        margin: 3rem auto;
    }
    .restaurant_field_edit.comments{
        margin-right: 23.3rem;
    }
    .edit_label{
        margin-right: 4.5rem;

    }
    .edit_label_comments{
        margin-right: 17.5rem;
    }
     #address_edit, #phone_edit{
        margin: 1.5rem;
        width: 20rem;
        
    }
    #comments_edit{
        width: 52.7rem;
    }

}