.heading-primary {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(70, 70, 193);
    text-transform: uppercase;
    backface-visibility: hidden;
    font-size: 34px;
    font-weight: 800;
    font-family: 'Sriracha', cursive;
}
.text-box{
    margin: 2rem 0;
    position: absolute; 
    top: 50%;
    left:50%;
    width: 90%;
    padding: 1rem;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    
}
.link-btn{
    text-decoration: none;
    border: 1px solid white;
    background-color: rgba(123, 2, 142, 0.9);
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 3px 3px rgb(61, 61, 95);
    text-align: center;
    height: 3rem;
    letter-spacing: 2px;
    border-radius: 6%;
    color: white;
    text-shadow: -1px -1px black;
    font-size: 20px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
}

.heading-main{
display:block;
letter-spacing: 2px;
animation-name: moveInLeft;
animation-duration: 3s;
animation-timing-function: ease-out;
animation-fill-mode: both;
margin: 2rem 0;
}

.site-description{
    margin: 3rem 0;
    border: 2px solid black;
    font-size: .84rem;
    border-radius: 2rem;
    color: white;
    background-color: hsla(240, 50%, 52%, 0.85);
    text-shadow: -1px -1px black;
    text-transform: uppercase;
    padding: .5rem;
    
}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@media (min-width:760px){
   
   
  
    .heading-main{
    
    font-size: 45px;
    margin-top: 1rem;
  
    }
    .word-sub{
       
        font-size: 35px;
        
        
    }
   
    
    .site-description{
        font-size: 18px;
        
        
        
    }
}
@media (min-width:1440px){
   
   
  
    .heading-main{
    
    font-size: 65px;
   
  
    }
    .word-sub{
       
        font-size: 35px;
        
        
    }
    .heading-sub{
  
    font-size: 25px;
 
    }
    .text-box{
       width: 70%;
    }
    .site-description{
        font-size: 20px;
        
        
        
    }
}
@media (min-width:2560px){
   
   
  
    .heading-main{
    
    font-size: 75px;
    
  
    }
  
    .text-box{
       width: 50%;
    }
    .site-description{
        font-size: 18px;
        
        
        
    }
}