.rest-info{

    width: 95%;
    margin-top: 3rem;
    margin:auto;
    height: auto;
   
}
.rest-info-main{
    border: 1px solid black;  
    width: 75%; 
background-color: rgba(70, 70, 193, 0.9);
margin:5rem 2.3rem;
border-radius: 5%;
box-shadow: 3px 3px rgb(61, 61, 95);
padding: 1rem 1rem 1.5rem 1rem;
text-align: center;
height: auto;
letter-spacing: 2px;

}
.rest-info-title{
 
    color: white;
}
.info-box{
    margin-top: 5rem;
}
.info-label{
    color: rgb(204, 204, 228);
    text-shadow:1px 1px black;
    text-align: left;
}

.rest-info-loc {
border: 1px solid black;
width: 90%;   
background-color: rgba(70, 70, 193, 0.9);
margin:1rem;
border-radius: 5%;
box-shadow: 3px 3px rgb(61, 61, 95);
padding: 1rem 1rem 1.5rem 1rem;
text-align: center;
height: auto;
letter-spacing: 2px;
color: white;
font-size: 16px;
font-weight: 600;
line-height: 2;
}
.caps{
    text-transform: uppercase;
}
.home-btn{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
@media (min-width: 768px){
    .rest-info{
        width:95%;
        margin: auto;
    }
    .state-items.info,.rest-info-loc{
        margin: 2rem 2.4rem;
    } 
    .rest-info-main{
        margin: 2rem 6rem;
    }
}
@media (min-width: 1094px){
    .rest-info{
        width:85%;
        margin: auto;
    }
    .state-items.info,.rest-info-loc{
        margin: 2rem 2.4rem;
    } 
    .back-btn.info{
        margin-left: 4.5rem;
    }
}
@media (min-width: 1440px){
    .rest-info{
        width:65%;
        margin: auto;
    }
    .state-items.info,.rest-info-loc{
        margin: 2rem 2.4rem;
        font-size: 18px;
    } 
    .back-btn.info{
        margin-left: 8rem;
    }
}
@media (min-width: 2440px){
    .rest-info{
        width:45%;
        margin: auto;
    }
    .state-items.info,.rest-info-loc{
        margin: 2rem 2.4rem;
        font-size: 18px;
    } 
    .back-btn.info{
        margin-left: 10rem;
    }
}