.restaurant-form{
    border: 1px solid black;
    width: 90%;   
    background-color: rgb(70, 70, 193);
    margin:1rem;
    border-radius: 5%;
    box-shadow: 6px 6px rgb(61, 61, 95);
    padding: 1rem 1rem 1.5rem 1rem;
    text-align: center;
    height: auto;
    letter-spacing: 2px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 2;
    }
.restaurant_field{
    margin-top: 2rem;
}
   
.form{
        margin: .5rem .1rem;
    }
#state{
    background-color: white;
    width: 9rem;
    text-align: center;
}

.resForm, #author{
    margin: 1rem;
}
#resName, #address, #phone{
    width: 13rem;
    height: 1.5rem;
}
#comments{
    height: 6rem;
    width: 13rem;
    padding: 1rem;
}