


.state_list{
    
    width: 95%;
    margin: .5rem;
    height: auto;
   
}
.state-list-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.state-items{
    border: 1px solid black;
    background-color: rgba(70, 70, 193, 0.9);
    margin:2rem 3rem;
    border-radius: 5%;
    box-shadow: 3px 3px rgb(61, 61, 95);
    padding: 1rem 1rem 1.5rem 1rem;
    text-align: center;
    height: auto;
    letter-spacing: 2px;
}
.back-btn{
    border: 1px solid black;
    background-color: rgba(98, 98, 250, 0.9);
    text-shadow: -1px -1px black;
    margin:1rem 3rem;
    border-radius: 8%;
    box-shadow: 3px 3px rgb(61, 61, 95);
    padding: 1rem 1rem 1.5rem 1rem;
    text-align: center;
    height: 3rem;
    letter-spacing: 2px;
    width: 12.8rem;
    border-radius: 6%;
    color: white;
    font-size: 16px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
    text-transform: uppercase;

}
.state-list-link{
    text-decoration: none;
    color: white;
}