.signup-form-box{
    border: 2px solid black;
    width: 95%;
    margin: .5rem;
    height: 100rem;
    background-color: rgb(143, 143, 211);
    box-shadow: -2px -2px rgb(61, 61, 95);
}
.signup-field{
    display:flex;
    flex-direction: column;
    margin:2% ;
}
.signup_input{
    border: 2px solid white;
    height: 30px;
    padding: 5%;
}
.submit-btn{
    text-transform: uppercase;
    padding: 8px 12px;
    display: inline-block;
    color:white;
    background-color:black;
    border-radius: 3rem;
    margin: 2.5rem;
    font-size: 14px;
}
.title__page{
    text-align: center;
    padding: 5rem .5rem 1rem .5rem;
    color:rgb(245, 245, 245);
    text-shadow: 4px 3px rgb(61, 61, 95);
    font-size: 35px;
}
.signup-password-req, .signup_label{
    color: rgb(204, 204, 228);
    text-shadow:1px 1px black;
    margin: 1rem;
}
#password.signup_input{
    margin-bottom: 1rem;
}

@media (min-width: 510px){
    .signup-form-box{
        font-size: 18px;
    }
    .signup-field{
       padding: 1rem 2rem;
    }
    .signup_input{
        padding: 7%;
        margin: 0 0 2rem 2.5rem;
    }
    .submit-btn, .back-btn-signup{
        margin: 1rem 4rem 3rem 4rem;
        font-size: 18px;
    }
    .signup_label{
        padding-right: 2rem;
    }
    .title__page{
        margin-right: 1rem;
        margin-top: 4rem;
        font-size: 45px;
    }
    .signup-password-req{
       font-size: 18px;
        margin: 2rem;
    }
}
@media (min-width: 745px){
    .signup-form-box{
        width: 75%;
        margin-top: 4%;
        margin-left: 5.5rem;
        font-size: 20px;
    }
    .signup-field{
       padding: 1.5rem 1.5rem;
    }
    .signup_input{
        margin: 0 0 2rem 2.5rem;
       padding: 1.2rem 0 1.2rem 1rem;
       width: auto;
    }
    .submit-btn, .back-btn-signup{
        margin: 1rem 8rem 3rem 8.5rem;
        font-size: 18px;
    }
    .signup_label{
        padding-right: .5rem;
    }
    .title__page{
        margin-right: 0;
    }
    .signup-password-req{
       font-size: 18px;
        margin: 2rem;
    }
}
@media (min-width: 906px){
    .signup-form-box{
        width: 60%;
        margin-left: 12.5rem; 
    }
    .title__page{
        font-size: 50px;
    }
}
@media (min-width: 1028px){
    .signup-form-box{
        width: 45%;
        margin-left: 18rem;
       
    }
}
@media (min-width: 1224px){
    .signup-form-box{
        width: 45%;
        margin-left: 25rem;
       
    }
}