.signup-form{
    width: 100%;
    margin: 5rem 0;
    height: auto;
    padding: 1rem 1rem 1.5rem 1rem;
    text-align: center;
    letter-spacing: 2px;
   padding: 1rem;
    font-weight: 600;
    line-height: 2;
}

.signup-form-box{
    border: 1px solid black;  
background-color: rgba(70, 70, 193, 0.9);

border-radius: 5%;
box-shadow: 3px 3px rgb(61, 61, 95);
padding: 1rem;
text-align: center;
height: auto;
letter-spacing: 2px;
color: white;
font-size: 16px;
font-weight: 600;
line-height: 2;
}

.button-box{
    margin:1rem;
}
.back-btn.submit{
    margin: 1rem 0;
}
#password{
    margin-bottom: 2rem;
}
.signup-field{
    margin: 1.5rem .5rem;
    
}
.signup_label{
    margin: 1rem;
    font-size: 20px;
    text-shadow: black 1px 1px;
}
.signup-password-req{
    text-transform: uppercase;
    text-shadow: black 1px 1px;
    background-color: rgba(123, 2, 142, 0.9);
    text-align: left;
    padding-left: 5px;
    border: 1px solid white;
    box-shadow: 2px 2px black;

}
.signup_input{
    width:15rem;
    height: 2rem;
    padding-left: 10px;
}
@media (min-width:457px){
    .signup-form-box{
        width: 95%;
    }
    .signup_input{
        width: 22rem;
    }
}
@media (min-width:597px){
    .signup-form{
        width: 95%;
        margin:auto;
        
    }
    .title__page{
        margin-bottom: 2rem;
        font-size: 40px;
    }
    .signup-form-box{
        width: 90%;
        margin:auto;
    }
    .signup_input{
        width: 24rem;
    }
}
@media (min-width:698px){
    .signup-form{
        width: 95%;
        margin:auto;
        
    }
    .back-btn.submit{
        margin: 0 3rem;
    }
    .title__page{
        margin-bottom: 2rem;
        font-size: 40px;
    }
    .signup-field{
        text-align: left;
    }
    .signup-form-box{
        width: 98%;
        margin:auto;
    }
    .signup_input{
        width: 22rem;
    }
    #password{
        margin-left:3.2rem ;
    }
    #first_name {
        margin-left: 2.2rem;
    }
    #last_name{
        margin-left: 2.5rem;
    }
}
@media (min-width:1000px){
    .signup-form{
        width: 75%;
        margin:auto;   
    }
    .signup-form-box{
        width: 98%;
        margin:auto;
    }
    .signup-password-req{
        padding: 60px;
    }
}
@media (min-width:1350px){
    .signup-form{
        width: 55%;
        margin:auto;   
    }
    .title__page{
        font-size: 60px;
    }
    .signup-form-box{
        width: 98%;
        margin:auto;
    }
    .signup-password-req{
       font-size: 20px;
    }
}
@media (min-width:1950px){
    .signup-form{
        width: 35%;
        margin:auto;   
    }
    .signup-form-box{
        width: 98%;
        margin:auto;
    }
}